<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.credentials.SystemCredentialsProvider plugin="credentials@2.1.10">
  <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <specifications/>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <java.util.concurrent.CopyOnWriteArrayList>
{% if cj_localdb_ssh_users is defined %}
{% for user in cj_localdb_ssh_users %}
        <com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey plugin="ssh-credentials@1.12">
          <scope>{{ user.scope }}</scope>
          <id>{{ user.id }}</id>
          <description>{{ user.description }}</description>
          <username>{{ user.username }}</username>
          <passphrase>{{ user.passphrase }} </passphrase>
          <privateKeySource {{ user.privateKeySource }}/>
        </com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey>
{% endfor %}
{% endif %}
{% if cj_localdb_users is defined %}
{% for user in cj_localdb_users %}
        <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          <scope>{{ user.scope }}</scope>
          <id>{{ user.id }}</id>
          <description>{{ user.description }}</description>
          <username>{{ user.username }}</username>
          <password>{{ user.password }}</password>
        </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
{% endfor %}
{% endif %}
      </java.util.concurrent.CopyOnWriteArrayList>
    </entry>
  </domainCredentialsMap>
</com.cloudbees.plugins.credentials.SystemCredentialsProvider>