import jenkins.model.*

def inst = Jenkins.getInstance()
def desc = inst.getDescriptor("hudson.plugins.git.GitSCM")

desc.setGlobalConfigName("{{ jenkins_gitconfig_user }}")
desc.setGlobalConfigEmail("{{ jenkins_gitconfig_email }}")

desc.save()