<?xml version='1.0' encoding='UTF-8'?>
<org.codefirst.SimpleThemeDecorator plugin="simple-theme-plugin@0.3">
  <cssUrl>{{ cj_theme_css_url }}</cssUrl>
  <jsUrl>{{ cj_theme_js_url }}</jsUrl>
</org.codefirst.SimpleThemeDecorator>