#!/bin/env python

from xml.etree.ElementTree import parse, Element, SubElement

the_file = "{{ cj_home }}/hudson.model.UpdateCenter.xml"
doc = parse(the_file)
root = doc.getroot()

the_site = root.find('.//site[id="default"]')

the_site.find('url').text="{{ cj_update_site_url }}"
doc.write(the_file, xml_declaration=True)

